@model IEnumerable<product.Models.Employeecs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.empname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.depname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empsalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.empname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.depname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empsalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.empid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.empid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.empid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
